@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: white;
}
.main {
  margin-top: 10rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.inputs {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inputs > input {
  width: 15rem;
  background-color: #000;
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  color: #fff;
}
.btn {
  display: flex;
  gap: 1.6rem;
}
.btn > button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  color: #000;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
